.menu ul{
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.menu li{
    float: left;
}

.menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.menu a:hover{
    background-color: #1d3557;
}

pre {
    background-color: #F2F1F1;
    padding: 3px;
    border-radius: 5px;
}